<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="small" color="#fff" type="ball-clip-rotate" size="default">
</ngx-spinner>
<header>
  <nav>
    <mat-toolbar color="primary">
        <button mat-icon-button matTooltip="Voltar" routerLink="/">
          <mat-icon>arrow_back</mat-icon>
        </button>
      <h1>{{title}}</h1>
    </mat-toolbar>
  </nav>
</header>
<section *ngIf="!!client" class="content" fxLayout="column" fxLayoutAlign="start center">
  <article fxLayout="column" ngStyle.gt-sm="width: 60%" ngStyle.sm="width: 80%" ngStyle.xs="width: 100%">
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="client.name" [formControl]="paramsForm.name">
      <mat-error *ngIf="paramsForm.name.hasError('required')">
        Campo obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>CPF</mat-label>
      <input matInput inputMask mask="999.999.999-99" [value]="client.cpf" (format)="onFormat($event, 'cpf')" [formControl]="paramsForm.cpf">
      <mat-error *ngIf="paramsForm.cpf.hasError('required')">
        Campo obrigatório
      </mat-error>
      <mat-error *ngIf="paramsForm.cpf.hasError('cpf')">
        Cpf Inválido
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Telefone</mat-label>
      <input matInput inputMask mask="(99) 999-9999" [value]="client.phone" (format)="onFormat($event, 'phone')" [formControl]="paramsForm.phone">
      <mat-error *ngIf="paramsForm.phone.hasError('required')">
        Campo obrigatório
      </mat-error>
      <mat-error *ngIf="paramsForm.phone.hasError('inputMaskParse')">
        Telefone inválido
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data de Nascimento</mat-label>
      <input matInput inputMask mask="99/99/9999" [value]="client.birthday" (format)="onBirthdayFormat($event)" [formControl]="paramsForm.birthday">
      <mat-error *ngIf="paramsForm.birthday.hasError('required')">
        Campo obrigatório
      </mat-error>
      <mat-error *ngIf="paramsForm.phone.hasError('inputMaskParse')">
        Data inválida
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Endereço</mat-label>
      <input matInput [(ngModel)]="client.address" [formControl]="paramsForm.address">
      <mat-error *ngIf="paramsForm.address.hasError('required')">
        Campo obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tipo do Veículo</mat-label>
      <mat-select (selectionChange)="selectVehicleType($event)" [value]="client.vehicle.type">
        <mat-option *ngFor="let option of vehicleTypeOptions" [value]="option.value">
          {{option.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="showVehicleManufacturer">
      <input #manufecturerInput type="text" placeholder="Fabricante" aria-label="Cliente" matInput
        [matAutocomplete]="manufacturers" [formControl]="manufacturersInputControl">
      <mat-autocomplete #manufacturers="matAutocomplete" (optionSelected)="vehicleManufacturerSelected($event)"
        [displayWith]="displayInfo('manufacturer')">
        <mat-option *ngFor="let manufacturer of filteredVehicleManufecturers | async" [value]="manufacturer">
          {{manufacturer.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field *ngIf="showVehicleModels">
      <input #modelInput type="text" placeholder="Modelo" aria-label="Modelos" matInput
        [matAutocomplete]="models" [formControl]="modelsInputControl">
      <mat-autocomplete #models="matAutocomplete" (optionSelected)="vehicleModelSelected($event)"
        [displayWith]="displayInfo('model')">
        <mat-option *ngFor="let model of filteredVehicleModels | async" [value]="model">
          {{model.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="submitForm()" [disabled]="!isValidForm()" fxFlexAlign="end" ngStyle.xs="width: 100%">
      <span>Salvar</span>
    </button>
  </article>

</section>
